.projectTabBackground {
  height: 100px;
  width: 100%;
  background-color: grey;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

#left-hand-column {
  height: 90vh;
  width: 15vw;
  background-color: #ced9f5;
  overflow-y:auto;
}

#main {
  display: flex;
  flex-direction: row;
}

.taskBoardHeader {
  height: 100px;
  width: 100%;
  background-color: green;
  position: sticky;
  top: 0px;
}

.addTask {
  height: 100px;
  width: 100px;
  background-color: blue;
  color: white;
}

.headerBack {
  height: 50px;
  width: 100%;
  background-color: black;
  position: sticky;
  top: 0px;
}

.addButton {
  height: 50px;
  width: 100px;
  background-color: blue;
  color: white;
}

.deleteButton {
  height: 20px;
  width: 100px;
  background-color: red;
  color: white;
}

.taskBackBoard {
  height:200px;
  width: 100%;
  background-color: black;
  border-color: white;
  border-width: 1px;
  border-style: solid;
}

.titleBack {
  display:flex;
  flex-direction: row;
  height:30px;
  width: 500px;
  background-color: grey;
}

#taskBoard {
  width: 100%;
  height: 90vh;
  overflow-y: auto;
}
