#main {
  display: flex;
  flex-direction: row;
}

#left-hand-column {
  height: 90vh;
  width: 15vw;
  background-color: #ced9f5;
  overflow-y:auto;
}

#taskBoard {
  width: 85vw;
  height: 90vh;
  overflow-y: auto;
}

.taskDescription {
  height: 100px;
  width: 200px;
  overflow: hidden;
}

.projectTabBackground {
  height: 100px;
  width: 100%;
  background-color: grey;
  border-style: solid;
  border-color: black;
  border-width: 1px;
}

.taskBoardHeader {
  height: 100px;
  width: 100%;
  background-color: green;
  position: sticky;
  top: 0px;
}

.addTask {
  height: 100px;
  width: 100px;
  background-color: blue;
  color: white;
}

.headerBack {
  height: 50px;
  width: 100%;
  background-color: black;
  position: sticky;
  top: 0px;
}

.addButton {
  height: 50px;
  width: 100px;
  background-color: blue;
  color: white;
}

.deleteButton {
  height: 20px;
  width: 100px;
  background-color: red;
  color: white;
  float: right;
}

.taskTitle {
  height: 50px;
  width: 200px;
  background-color: teal;
}

.taskBackBoard {
  height:200px;
  width: 100%;
  background-color: black;
  border-color: white;
  border-width: 1px;
  border-style: solid;
}

.titleBack {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  height:10%;
  width: 100%;
  background-color: grey;
}

.Draft {
  height: 100%;
  width: 100px;
  background-color: Blue;
  color: white;
}

.checklistHeader {
  height: 25px;
  width: 100%;
}

.checklistBack {
  height: 90%;
  width: 200px;
  background-color: orange;
  float: right;
}

.checkItemBack {
  height: 15px;
  width: 100%;
  background-color: grey;
  border-width:1px;
  border-style:solid;
}

.checkItemText {
  height: 90%;
  width: 90%;
  background-color: teal;
}
