#board {
  height:65vh;
  width: 65vh;
  display: flex;
  flex-direction:column;
}

#board-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 67vh;
  width: 67vh;
  background-color: #282828;
  border-radius: 5px;
  border: solid;
  border-width: thin;
  border-color: #ffffff;
}

#button-holder {
  display:flex ;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom:20px;
  height:80vh;
  width:auto;
  background-color: #282828;
  border-radius: 5px;
  border: solid;
  border-width: thin;
  border-color: #ffffff;
}

#content-holder {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

#color-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
  color: #ffffff;
}

#color-select {
  background-color: rgba(0,0,0,0);
  border-style: none;
  outline: none;
}

#title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  width: 100%;
  height: 140px;
}

.content-item {
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  border-width: thin;
  height:100px;
  width: 20%;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color:rgba(0,0,0,0.5);
  color: black;
}

.content-item:hover {
  border-width: thin;
  display: flex;
  flex-wrap: wrap;
  border-style: solid;
  height:100px;
  width: 20%;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  background-color: blue;
  color: white;
}

.slider-box {
  margin: 30px;
  color: #ffffff;
}

.grid-item {
  background:white ;
  align-content:stretch ;
  flex-grow:1 ;
  float:left ;
}

.grid-row {
  flex-grow:1 ;
  display:flex ;
}

.pressed {
  background:black ;
  align-content:stretch ;
  flex-grow:1 ;
  float:left ;
}

.pixelPadBack {
  display: flex;
  background: #181818;
  align-items: center;
  flex-direction: column;
  margin-top: 4px ;
  margin-left: 4px;
}

.pixelPadButton {
  margin:30px;
  color: #ffffff;
  height: 30px;
  width: 70%;
  background-color: #282828;
  border: solid;
  border-width: thin;
  border-color: #ffffff;
  outline: none;
  border-radius: 5px;
}

.btn-on {
  background-color: #ffffff;
  color: #000000 ;
}
